@()(implicit messages: MessagesApi, lang: Lang, user: AccountDetails)

<div class="list-group">
    @if(user.permissions.contains("all")) {
    <a id="registration-link" href="@routes.DashboardController.registerUser()" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> @messages("components.quick-links.register")</h4>
    </a>
    <a id="views-all-users-link" href="@routes.DashboardController.usersOverview()" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> @messages("components.quick-links.view-users")</h4>
    </a>
    }
</div>