@import common.Permissions._

@()(implicit messages: MessagesApi, lang: Lang, user: AccountDetails)

<div class="list-group">
    <a id="dashboard-link" href="@routes.DashboardController.dashboard()" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @messages("components.quick-links.dash")</h4>
    </a>
    @permissionViewGuard(rootOnly) {
    <a id="registration-link" href="@routes.DashboardController.registerUser()" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> @messages("components.quick-links.register")</h4>
    </a>
    <a id="view-all-users-link" href="@routes.DashboardController.usersOverview()" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> @messages("components.quick-links.view-users")</h4>
    </a>
    }
    @permissionViewGuard(encDec) {
    <a id="enc-dec-link" href="@routes.EncDecController.showEncDecOptions()" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span> @messages("components.quick-links.enc-dec")</h4>
    </a>
    }
    @permissionViewGuard(headers) {
    <a id="enc-dec-link" href="@routes.HeadersController.headers()" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span> @messages("components.quick-links.headers")</h4>
    </a>
    }
    <a id="uuid-link" href="@routes.AppIdController.showUUIDGenerator()" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> @messages("components.quick-links.uuid")</h4>
    </a>
    @permissionViewGuard(shuttering) {
    <a id="shuttering-link" href="@routes.ShutteringController.show()" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> @messages("components.quick-links.shuttering")</h4>
    </a>
    }
</div>