@import com.cjwwdev.frontendUI.builders.NavBarLinkBuilder
@import com.cjwwdev.views.html.templates.AdminMainTemplate
@import com.cjwwdev.views.html.helpers.{errorPanel, textInput}
@import helper._
@import views.html.components.QuickLinks
@import common.Permissions._

@()(implicit request: Request[_], user: AccountDetails, messages: MessagesApi, lang: Lang, links: Seq[NavBarLinkBuilder], navBarRoutes: Map[String, Call])

@colourSwitcher(random : Int) = {
    @random match {
        case 0 => {
            #0A5A95
        }
        case 1 => {
            #F08B16
        }
        case 2 => {
            #9A090C
        }
        case 3 => {
            #57920B
        }
        case _ => {
            #0A5A95
        }
    }
}

@AdminMainTemplate(title = messages("pages.dashboard.quick-links.title"), links, navBarRoutes){
    <div class="top-block-single">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="page-header">
                        <h2 id="quick-links" class="pageTitle">@messages("pages.dashboard.quick-links.heading")</h2>
                    </div>

                    @QuickLinks()
                </div>

                <div class="col-md-9">
                    <div class="page-header">
                        <h2 id="main-heading" class="pageTitle">@messages("pages.dashboard.main-content.heading")</h2>
                    </div>

                    <div class="row">
                        @permissionViewGuard(rootOnly) {
                        <div class="col-sm-6 col-md-3">
                            <a id="register-user-dash-link" href="@routes.DashboardController.registerUser()">
                                <div class="thumbnail">
                                    <object>
                                        <svg viewBox="0 0 140 140" preserveAspectRatio="xMinYMin meet">
                                            <g>
                                                <circle fill="@colourSwitcher(scala.util.Random.nextInt(4))" r="50%" cx="50%" cy="50%" class="circle-back" />
                                                <text fill="#ffffff" font-size="45" font-family="Verdana" x="50%" y="60%">
                                                    <tspan text-anchor="middle">R</tspan>
                                                </text>
                                            </g>
                                        </svg>
                                    </object>
                                    <div class="caption text-center">
                                        <h3 id="register-user-dash-link-caption">@messages("components.quick-links.register")</h3>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <a id="view-users-dash-link" href="@routes.DashboardController.usersOverview()">
                                <div class="thumbnail">
                                    <object>
                                        <svg viewBox="0 0 140 140" preserveAspectRatio="xMinYMin meet">
                                            <g>
                                                <circle fill="@colourSwitcher(scala.util.Random.nextInt(4))" r="50%" cx="50%" cy="50%" class="circle-back" />
                                                <text fill="#ffffff" font-size="45" font-family="Verdana" x="50%" y="60%">
                                                    <tspan text-anchor="middle">V</tspan>
                                                </text>
                                            </g>
                                        </svg>
                                    </object>
                                    <div class="caption text-center">
                                        <h3 id="view-users-dash-link-caption">@messages("components.quick-links.view-users")</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        }

                        @permissionViewGuard(encDec) {
                        <div class="col-sm-6 col-md-3">
                            <a id="data-sec-dash-link" href="@routes.EncDecController.showDataSecurity()">
                                <div class="thumbnail">
                                    <object>
                                        <svg viewBox="0 0 140 140" preserveAspectRatio="xMinYMin meet">
                                            <g>
                                                <circle fill="@colourSwitcher(scala.util.Random.nextInt(4))" r="50%" cx="50%" cy="50%" class="circle-back" />
                                                <text fill="#ffffff" font-size="45" font-family="Verdana" x="50%" y="60%">
                                                    <tspan text-anchor="middle">DS</tspan>
                                                </text>
                                            </g>
                                        </svg>
                                    </object>
                                    <div class="caption text-center">
                                        <h3 id="data-sec-dash-link-caption">@messages("components.quick-links.enc-dec.ds")</h3>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <a id="sha-dash-link" href="@routes.EncDecController.showSHA512()">
                                <div class="thumbnail">
                                    <object>
                                        <svg viewBox="0 0 140 140" preserveAspectRatio="xMinYMin meet">
                                            <g>
                                                <circle fill="@colourSwitcher(scala.util.Random.nextInt(4))" r="50%" cx="50%" cy="50%" class="circle-back" />
                                                <text fill="#ffffff" font-size="45" font-family="Verdana" x="50%" y="60%">
                                                    <tspan text-anchor="middle">SHA</tspan>
                                                </text>
                                            </g>
                                        </svg>
                                    </object>
                                    <div class="caption text-center">
                                        <h3 id="sha-dash-link-caption">@messages("components.quick-links.enc-dec.sha")</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}